.DS_Store
.vscode
.vs

application/cache/*
!application/cache/index.html

application/config/database.php

application/logs/*
!application/logs/index.html

!application/*/.htaccess

public/dist/*
!public/dist/index.html


composer.lock
package-lock.json

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/node_modules/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
