.uf-toolbar {
	.v-toolbar__content {
		// border-bottom: 1px solid #ebebeb;
	}
	.v-toolbar__extension {
		background-color: #F5F5F5;
		border-bottom: 1px solid #ebebeb;
		.uf-toolbar__pagetitle {
			color: #263238;
			font-weight: 900;
			padding-right: 11px;
			margin-right: 11px;
			border-right: 1px dotted #616770;
		}
		.uf-toolbar__breadcrumb {
			padding: 0;
			.v-breadcrumbs__divider {
				padding: 0 5px;
			}
		}
	}
}
